*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}



h1{
        color: darkgreen;
        font-size: 80px;
}
h2{
    color: darkseagreen;    
    font-size: 30px;
}
h3{
     color: rgb(129, 221, 129);    
    font-size: 30px;
}   
#logo{
    width: 200px;
    height: 200px;
}
.imagenProduc{
    width: 500px;
    height: 500px;
}
#fondoCabeza{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}
#cajaLogo{
    padding-top: 100px;
}
#textoLogo{
    color: darkgreen;
    font-size: 50px;
}
#menuPpl{
    background-color: rgb(127, 255, 159);
    padding: 8px;
    box-shadow: 5px 5px 15px 5px black;
}
#menuPpl li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}
#menuPpl a{
    text-decoration: none;
    color: rgb(44, 140, 108);
}
#seccion1{
    display: flex;
}
#conVideo{
    text-align: center;
    width: 50%;
    border: 5px solid rgb(58, 228, 165);
}
#textoPpal{
    text-align: center;
    width: 50%;
    padding: 60px;  
    border: 5px solid rgb(1, 43, 19);
}
#videoPpl{
    width: 90px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 5px     15px 15px 5px rgb(10, 36, 0);
}
#seccion2{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}